# We don't want lockfiles in stacks, as people 
# could use a different package manager.
# This part will be removed by `remix.init`
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-lock.yml

node_modules

/.cache
/build
/public/build
.env
env/.env.local

/app/global.css
/app/global.css.map


# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store